
extends layout

block content
    .header
        .logo
            a(href='#')
                img(src='/css/logo.png' width='65' height='65' alt='logo')
                h1 D&amp;A-Movies
                h8 When movies are in your blood

    #center.main.center
        .mainInner
            br
            div I'm sorry, the page or resource you are searching for is currently unavailable.