#alert-modal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header(style="height: 80px")
                img(src='/css/logo.png' width='75' height='55' alt='logo' style="margin-left: 20px;")
                button.close(type='button' aria-label='Close' data-dismiss='modal' style='color: #F74040; outline: none; z-index:99')
                    span(style='font-size: 40px;') &times;
                h4(style="position: absolute; width: 100%; text-align:center; font-weight: bold; font-style: italic; font-size:32px;")#alert-modal-title.modal-title
            #alert-modal-body.modal-body
            .modal-footer(style='padding-top: 0')
                button.btn.btfooter(type='button' data-dismiss='modal' style="height: 38px") Close

