
#cd-reset-password
    form.cd-form
        .modal-top(style="height: 80px")
            img(src='/css/logo.png' width='75' height='55' alt='logo' style="margin-left: 20px;")
            h1 CPA Tool
            h5 The Right Way To Manage Your Files
            button.close(type='button' aria-label='Close' style='color: #F74040; outline: none;')
                span.cd-close-form(style='font-size: 40px;' aria-hidden='true') &times;
        div(style='padding-bottom: 10px')
            h3
                b(style="font-style: italic;")
                    | Reset
                    br
                    | Password
            br
            h6(style='font-size: 14px;')
                | Type in your email address below and we&apos;ll send you an email with instructions on how to create a new password
            br
        .form-group
            input#reset-password.form-control(name='reset-password' placeholder=' ' type='email' required='' pattern='[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)+' style='box-shadow: none;border-radius:0px')
            label.input-form(for='reset-password') E-mail
        .cd_modal-footer
            button.btn.btfooter(type='submit') SEND MAIL

